@tailwind base;
@tailwind components;
@tailwind utilities;

.rainbow-wrapper button div {
  border: none !important;
}

@font-face {
  font-family: 'spacex';
  src: url('/fonts/spacex.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
